body{
    background-color:#c3cfe2;
}
.container{
background-color: white;
height: 600px;
width: 400px;
}
.text{
background-color: white;
height: 400px;
}
.blue{
background-color: #686De0;
position: absolute;
height: 200px;
width: 400px;
color: white;
z-index: 1;
}
.titel{
    position: absolute;
    z-index: 3;

}.image{
    position: absolute;
    transform: translate(150px, -130px);
    z-index:2;
    border: solid 2px white;
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    
}